// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: #333333;

$option-hover-color: #e5e564;
$link-color: #00b7ff;
$link-hover-color: #a2e5ff;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;