@use "defaults";

.gameCont {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.LinksContainer {
    display: flex;
    flex: 1;
    @media screen and (max-width: defaults.$breakpoint-sm) {
        flex-direction: column;
    }
    justify-content: center;
}

.playerPrompt {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.images {
    display: flex;
    flex-direction: row;
    flex: 1;

    @media screen and (max-width: defaults.$breakpoint-md) {
        flex-direction: column;
    }

    .world {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animal {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

    }
}