@use "defaults";

.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: defaults.$link-color;
  font-weight: bold;
  padding: 8px;
  margin: 0 8px;
  @media screen and (max-width: defaults.$breakpoint-sm) {
    text-align: center;
    margin: 8px;
  }
}

.Link:hover {
  color: defaults.$link-hover-color;
}
