@use "defaults";

.Link {
  display: flex;
  justify-content: center;
  font-family: "Splendid66";
  cursor: pointer;
  color: defaults.$link-color;
  font-size: larger;
  font-weight: bold;
  padding: .25rem .5rem;
}

.LinksContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Link:hover {
  color: defaults.$link-hover-color;
}
